.posts{
    width: 90%;
    background-color: #f2f2f2;;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
}

.postContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 3rem;
}

.topDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.title h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.downDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

.creationTime {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
  font-weight: bold;
}

.date {
  margin-left: 5px;
}

.middle {
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description span {
  font-weight: bold;
  margin-right: 10px;
}

.description p {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.1rem;
  word-wrap: break-word;
  margin-bottom: 10px;

  overflow-y: auto;
}
.imagesContainer,
.videosContainer,
.filesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.imageBox img {
  width: 5rem;
  height: 100%;
  border: 1px solid #ddd;
}

.imageBox a{
  display: flex;
  text-decoration: none;
  color: #000;
  align-items: center;
  height: 6rem;

  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

.imageBox div{
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.imageBox,
.videoBox,
.fileBox {
  align-items: center;
  margin-bottom: 1rem;
}




.videoBox a,
.fileBox a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-between;
  color: #000;
  align-items: center;
  height: 5rem;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

.imageBox a:hover,
.videoBox a:hover,
.fileBox a:hover {
  background-color: #e5e5e5;
}



.videoBox div,
.fileBox div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
}

.videoBox div h6,
.fileBox div h6 {
  font-weight: normal;
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #999;
}

.videoBox div p,
.fileBox div p {
  margin: 0;
  font-size: 16px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileBox svg,
.videoBox svg {
  margin-right: 10px;
  font-size: 50px;
  color: #aaa;
}

.hide{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 1rem;
}
.hide h5 {
  margin-left: 5px;
  margin-bottom: 0 !important;
}

.hide svg {
  font-size: 20px;
}


.hide:hover {
  color: #5c5a5a;
}

@media screen and (max-width: 768px) {
  .postContainer {
    width: 100%;
  }
  .posts {
    width: 100%;
  }
  .topDetail {
    flex-direction: column;
    align-items: flex-start;
  }
  .title h1 {
    font-size: 1.5rem;
  }
  .downDetail {
    flex-direction: column;
    align-items: flex-start;
  }
  .middle {
    width: 100%;
  }
  .description {
    width: 100%;
  }
  .description p {
    width: 100%;
  }
  .imagesContainer,
  .videosContainer,
  .filesContainer {
    width: 100%;
  }
  .imageBox img {
    width: 100%;
    height: 100%;
  }
  .imageBox a,
  .videoBox a,
  .fileBox a {
    width: 100%;
    height: 100%;
  }
  .imageBox div,
  .videoBox div,
  .fileBox div {
    width: 100%;
  }
  .imageBox div h6,
  .videoBox div h6,
  .fileBox div h6 {
    font-size: 12px;
  }
  .imageBox div p,
  .videoBox div p,
  .fileBox div p {
    font-size: 14px;
  }
  .imageBox svg,
  .videoBox svg,
  .fileBox svg {
    font-size: 30px;
  }
  .hide {
    padding-bottom: 0;
  }
  .hide h5 {
    font-size: 14px;
  }
  .hide svg {
    font-size: 20px;
  }
}