.upperNavigator {
  display: flex;
  width: 100%;
  height: 5.5rem;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  background-color: #0e111e;
  position: relative;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  padding: 0 1rem;
}

.logo {
  width: 10%;
  height: 3rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.logoImage {
  width: 100%;
  height: 100%;
  color: #fff;
  margin-right: 0.5rem;
}

.siteName {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 10px;
  color: #fff;
}

.searchBarContainer {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px 10px;
  width: 80%;
}

.searchIcon {
  margin-right: 10px;
  color: #555;
  border-right: 1px solid black;
  padding-right: 0.6rem;
}

.searchInput {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.searchButton {
  background-color: #0e111e;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-left: 10px;
  padding: 4px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 20%;
}

.searchButton:hover {
  background-color: #716464;
}

.resultsList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
}

.searchResult {
  padding: 10px 20px;
}

.searchResult:hover {
  background-color: #efefef;
  cursor: pointer;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  padding: 0 1rem;
  margin-right: 2rem;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  height: 3rem;
  gap: 0.8rem;
  cursor: pointer;
}

.userName h1 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  width: 100%;
}

.userImage img {
  width: 2.5rem;
  height: 100%;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .upperNavigator {
    height: 4rem;
  }

  .logo {
    width: 15%;
    height: 2rem;
    margin-left: 0rem;
  }

  .logoImage {
    width: 100%;
    height: 100%;
    color: #fff;
    margin-right: 0.2rem;
  }

  .siteName {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
  }

  .searchBarContainer {
    display: none;
  }

  .right {
    width: 20%;
    margin-right: 0;
    padding-right: 8px;
  }

  .user {
    width: 100%;
    height: 2.5rem;
    gap: 0.2rem;
  }

  .userName h1 {
    font-size: 0.9rem;
    margin-bottom: 0;
  }

  .userImage img {
    width: 1.8rem;
    height: 100%;
  }
}
