.take-quiz-bg {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f1f9;
    background-image: linear-gradient(to right, #322b70, #446b9a);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
    color: black;
    padding: 6em 14em;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5em;
}

.question {
    margin-bottom: 3em;
    width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
}


.question_body {
    background-color: #19006e;
    color: white;
    height: 3em;

    padding: 1.2em;

    display: flex;
    align-items: center;
}

.answers {
    padding: 1.3em;
    background-color: #ffffff;
    font-weight: 400;
}

.label {
    margin-left: .35em;
}

.input {
    display: inline;
}

.submit-quiz-solutions-btn {
    width: 100%;
    height: 62px;
    font-size: 36px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border-radius: 50px;
    background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
    background-size: 600%;
    -webkit-animation: anime 16s linear infinite;
    animation: anime 16s linear infinite;
    border: 0;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
    font-weight: bold;
    margin-top: 2em;
}

@-webkit-keyframes anime {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes anime {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.timer {
    width: 40%;
    height: 10em;
    background: #e4e6eb;
    color: #19006e;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .08), 6px 6px 6px rgba(0, 0, 0, .08);
    border-radius: 15px;
}

.submit-success {
    padding: 5em 3em;
    background: #e4e6eb;
    color: #19006e;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .08), 6px 6px 6px rgba(0, 0, 0, .08);
    border-radius: 15px;
}