.navbar {
	background-color: transparent;

	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;

    padding: 30px 0px 30px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85em;
    margin: auto;
}



.navbar .logo_image {
    width: 3.8em;
	height: 3.3em;
    padding: 3px;
}
.navbar .logo_text {
    width: 5.7em;
	height: 3em;
    padding: 3px;
}

.nav_link{
    padding: 20px 20px;
    text-decoration: none;
    transition: all 0.4s ease;
}
.nav_link:link{
    color: #2b2b4f;
}
.nav_link:visited{
    color: #2b2b4f;
}
.nav_link:hover{
    color: #0099ff;
}

.btn {
    height: 1em;
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #0099ff;
	border-radius: 4px;
	background-color: #0099ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.25s;
    margin-right: 2em;
}

.btn:hover {
	border: 1px solid #0099ff;
	color: #fff;
    box-shadow: 0 0 9px rgba(104, 85, 224, 0.6);
	text-decoration: none;
}

.login_btn{
    color: #0099ff;
    background-color: #fff;
}

.login_btn:hover{
    color: #fff;
    background-color: #0099ff;
}