.quiz{
    background: linear-gradient(to right, #322b70, #446b9a);
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5em;
}

.question{
    margin-bottom: 3em;
    width: 51%;
    min-width: 51%;
    /* margin-bottom: 3em; */
    box-shadow:0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
}


.question_body{
    background-color: #19006e;
    color: white;
    height: 3em;

    padding: 1.2em;

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.answers{
    padding: 1.3em;
    background-color: #ffffff;
    font-weight: 400;
}

.choice{

}

.label{
    margin-left: .35em;
}

.input{
    display: inline;
}